* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

.top-bar {
	background: #f0f0f0;
	padding: 13.5px 0;
}

.top-bar.dhomev {
	background: green;
}

.top-bar ul,
.top-bar ul li {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline;
	margin: 0px 5px;
}

.top-bar ul li a {
	color: #fff;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
	color: green;
}

.navbar-brand {
	padding-top: 26px;
	padding-bottom: 26px;
	font: 1.86em/1em "Playball", sans-serif;
	color: green !important;
}

.carousel-container-header {
	padding: 0px;
}

/* override */
.carousel-caption-override {
	right: 15%;
	bottom: 20px;
	left: 15%;
	z-index: 10;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fff;
	text-align: center;
}

.item {
	height: 600px;
	width: 100%;
}

.item-one {
	background: url(../img/headone.jpg);
}

.item-two {
	background: url(../img/headtwo.jpg);
}
.item-three {
	background: url(../img/headthree.jpg);
}

.room-suit {
	padding-top: 7em;
	padding-bottom: 7em;
}

.section-header {
	position: relative;
	display: table;
	width: 100%;
}

.section-header h2 {
	font: 1.86em/1em "Playball", sans-serif;
}

.section-header h3 {
	color: #aaaaaa;
	font: 400 1.15em/1.8em "Open Sans", sans-serif;
	margin: 0 0 2.7em;
	padding: 0;
	font-style: italic;
	position: relative;
}

.section-header h3:after {
	content: "";
	position: absolute;
	bottom: 7px;
	width: 60px;
	height: 2px;
	display: inline-block;
	background: #a7cc38;
	margin: 0 0 0 12px;
}

.container-overlay {
	margin: 0 auto; /*centers the div horizontally*/
	position: relative; /*Required for the overlay effect because below in the "overlay" class it is set to position: absolute, so that class is absolute positioned relative to this container class*/
	width: 100%;
	max-width: 500px; /*Makes the container div a max-width of 500px*/
}

/* testing */
.overlay {
	position: absolute; /*See above comment in container class for position: relative*/
	bottom: 0; /*sets the overlay to the bottom of the container*/
	background: rgba(0, 0, 0, 0.5); /* Black see-through */
	width: 100%; /*takes up 100% width of the container*/
	transition: 0.5s ease-out;
	opacity: 0; /*Sets it to originally not be visible until below hover conditions*/
	color: white;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}

.overlay-two {
	/* position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #85ab00;
	padding: 10px;
	transform: scale(0, 0);
	-webkit-transform: scale(0, 0);
	-moz-transform: scale(0, 0);
	-ms-transform: scale(0, 0);
    -o-transform: scale(0, 0); */
	height: 100%;
	position: absolute; /*See above comment in container class for position: relative*/
	bottom: 0; /*sets the overlay to the bottom of the container*/
	background: rgba(167, 204, 56, 0.4);
	width: 100%; /*takes up 100% width of the container*/
	transition: 0.5s ease-out;
	opacity: 0; /*Sets it to originally not be visible until below hover conditions*/
	color: white;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}

.container-overlay:hover .overlay-two {
	opacity: 1; /*Makes overlay visible when the container div is hovered*/
}

.container-overlay:hover .overlay {
	opacity: 1; /*Makes overlay visible when the container div is hovered*/
}

.img-handler {
	background: red;
}

/* .img-handler:hover {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #85ab00;
	padding: 10px;
	transform: scale(0, 0);
	-webkit-transform: scale(0, 0);
	-moz-transform: scale(0, 0);
	-ms-transform: scale(0, 0);
	-o-transform: scale(0, 0);
} */
.room-type {
	color: #242424;
	font: 1.86em/1em "Playball", sans-serif;
	padding: 0;
	margin: 1em 0 0.7em;
	position: relative;
}

.room-type-description {
	color: #898989;
	margin: 0 0 1.8em;
	font: 400 1.0715em/1.5em "Open Sans", sans-serif;
}

.resort-counert {
	background: url(../img/parallax.jpg) 0 0 no-repeat fixed;
	background-size: 100% 100%;
	position: relative;
	padding: 70px 0;
}

.text-box {
	display: table-cell;
	vertical-align: middle;
}

.text-box h4 {
	color: #fff;
	font: 600 3.95em/1em "PT Serif", sans-serif;
	margin: 0;
	padding: 0;
	position: relative;
}

.text-box2 {
	padding-left: 1em;
}

.text-box2 p {
	color: #85ab00;
	font: 400 1.0715em/1.4em "Open Sans", sans-serif;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

.resort-activities-section {
	background: #f4f4f4;
}

.activities-container {
	padding-top: 7em;
	padding-bottom: 7em;
}

.resort-act-section-header {
	position: relative;
}

.resort-act-section-header h2 {
	color: #0e1322;
	font: 2.43em/1em "Playball", sans-serif;
	margin: 0;
	padding: 0;
}
.resort-act-section-header h3 {
	color: #aaaaaa;
	font: 400 1.15em/1.8em "Open Sans", sans-serif;
	margin: 0 0 2.1em;
	padding: 0;
	font-style: italic;
	position: relative;
}

.resort-act-section-header h3:after {
	content: "";
	position: absolute;
	bottom: 7px;
	width: 60px;
	height: 2px;
	display: inline-block;
	background: #a7cc38;
	margin: 0 0 0 12px;
}

.resort-act-content {
	color: #898989;
	margin: 0 0 1.5em;
	padding: 0;
	font: 400 1.0715em/1.8em "Open Sans", sans-serif;
}

.boxes {
	margin: 15px;
}

.single_wel_cont {
	padding: 15px;
}

.wel-box {
	display: block;
	height: 170px;
	padding-bottom: 0;
	background: #fff;
	padding: 2em 0 3em;
	position: relative;
}

.wel-box:before {
	content: "";
	position: absolute;
	border: 1px dashed #d9d9d9;
	top: 7px;
	left: 10px;
	right: 10px;
	bottom: 7px;
}

.wel-box .icon-box {
	text-align: center;
}

.wel-box h4 {
	color: #0e1322;
	text-align: center;
	font: 400 1.57em/1.4em "PT Serif", serif;
	font-style: italic;
	margin: 0.5em 0 0;
	padding: 0;
}

/* .wel-box:hover .overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #85ab00;
	padding: 10px;
	transform: scale(0, 0);
	-webkit-transform: scale(0, 0);
	-moz-transform: scale(0, 0);
	-ms-transform: scale(0, 0);
	-o-transform: scale(0, 0);
}


.wel-box .overlay .icon_position_table {
	border: 1px dashed rgba(236, 236, 236, 0.5);
	display: -webkit-flex;
	display: flex;
	height: 100%;
	align-items: center;
	-webkit-align-items: center;
	justify-content: center;
	-webkit-justify-content: center;
} */

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #85ab00;
	transition: 0.5s ease-out;
	opacity: 0; /*Sets it to originally not be visible until below hover conditions*/
	color: white;
	font-size: 15px;
	padding: 20px;
	text-align: center;
}

.overlay::before {
	content: "";
	position: absolute;
	border: 1px dashed #d9d9d9;
	top: 7px;
	left: 10px;
	right: 10px;
	bottom: 7px;
}

.offers-section {
	background: url(../img/background-offer.jpg) center bottom no-repeat fixed;
	background-size: 100% 100%;
	position: relative;
}

.default-padding {
	padding-top: 7em;
	padding-bottom: 7em;
}

.our-offer-left {
	position: relative;
	padding-right: 5em;
}

.section-header {
	position: relative;
}

.section-header h2 {
	color: #0e1322;
	font: 2.43em/1em "Playball", sans-serif;
	margin: 0;
	padding: 0;
}
.section-header h3 {
	color: #aaaaaa;
	font: 400 1.15em/1.8em "Open Sans", sans-serif;
	margin: 0 0 2.1em;
	padding: 0;
	font-style: italic;
	position: relative;
}

.section-header h3:after {
	content: "";
	position: absolute;
	bottom: 7px;
	width: 60px;
	height: 2px;
	display: inline-block;
	background: #a7cc38;
	margin: 0 0 0 12px;
}

.section-header p,
.section-header ul li,
.section-header ol li {
	color: #898989;
	margin: 0 0 1.5em;
	padding: 0;
	font: 400 1.0715em/1.8em "Open Sans", sans-serif;
}

.our-gallary {
	background: url(../img/bg-two.jpg) no-repeat center top;
	position: relative;
}

.section-header-two h3 {
	color: #aaaaaa;
	font: 400 1.15em/1.8em "Open Sans", sans-serif;
	margin: 0 0 2.1em;
	padding: 0;
	font-style: italic;
	position: relative;
}

.section-header-two h2 {
	color: #ffff;
	font: 2.43em/1em "Playball", sans-serif;
	margin: 0;
	padding: 0;
}

.section-header-two h3:after {
	content: "";
	position: absolute;
	bottom: 7px;
	width: 60px;
	height: 2px;
	display: inline-block;
	background: #a7cc38;
	margin: 0 0 0 12px;
}

.section-header p {
	color: #898989;
	margin: 0 0 1.5em;
	padding: 0;
	font: 400 1.0715em/1.8em "Open Sans", sans-serif;
}

.owl-nav button {
	position: absolute;
	top: 50%;
	background-color: #000;
	color: #fff;
	margin: 0;
	transition: all 0.3s ease-in-out;
}

.multiple-items {
	margin: 0 20px;
}

.multiple-items div {
	margin: 5px;
}

.blog-footer {
	padding: 2.5rem 0;
	color: #999;
	text-align: center;
	background-color: #f9f9f9;
	border-top: 0.05rem solid #e5e5e5;
}

/* .gal {
	-webkit-column-count: 3;
	-moz-column-count: 3; 
	column-count: 3;
}
.gal img {
	width: 100%;
	padding: 7px 0;
}
@media (max-width: 500px) {
	.gal {
		-webkit-column-count: 1;
		-moz-column-count: 1; 
		column-count: 1;
	}
} */

/* .img-holder:hover.overlay {
	opacity: 1;
} */

.about-banner {
	background: url(../img/10.jpg);
	height: 600px;
	width: 100%;
}
.about-banner h2 {
	color: #fff;
	font: 1.86em/1em "Playball", sans-serif;
}

.grayish-background {
	background: #f4f4f4;
}

.gallery-banner {
	background: url(../img/11.jpg);
	height: 600px;
	width: 100%;
}

.gallery-banner h2 {
	color: #fff;
	font: 1.86em/1em "Playball", sans-serif;
}

.grid {
	background: transparent; /*ddd*/
}

/* clear fix */
.grid:after {
	content: "";
	display: block;
	clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
	width: 33.333%;
}

.grid-item {
	float: left;
}

.grid-item img {
	display: block;
	max-width: 100%;
}

@media only screen and (max-width: 600px) {
	.grid-sizer,
	.grid-item {
		width: 55.333%;
	}
}

/* https://codepen.io/desandro/pen/MwJoLQ */

.contact-banner {
	background: url(../img/10.jpg);
	height: 600px;
	width: 100%;
}

.contact-banner h2 {
	color: #fff;
	font: 1.86em/1em "Playball", sans-serif;
}

.table .thead-dark th {
	color: #fff;
	background-color: green;
	border-color: green;
}

.card {
	height: 600px;
}

.btn-success {
	background-color: green;
	border-color: green;
}

.qoute-coloumn q {
	color: #fff;
	font: 1.86em/1em "Playball", sans-serif;
}
